{
    Pattern p = Pattern.compile("${regex}", Pattern.CASE_INSENSITIVE);
    Matcher m = p.matcher(input);
    if(m.matches()) {
        ((${controller})controllers.get(${controller}.class)).${methodName}(${methodArgs});
        return true;
    }
}